.box {
    white-space: nowrap;
    cursor: pointer;
    background-color: #fff;
    transition: 0.3s;
    a {
        color: rgb(63, 187, 63);
        &:hover {
            color: rgb(80, 216, 80);
            transition: 0.3s;
        }
    }
    &:hover {
        background-color: aliceblue;
        transition: 0.3s;
    }
}
.buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}
.ButtonAddRow {
    margin: 20px auto;
}