.sides {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 80px;
    @media (max-width: 991px) {
       display: flex;
       flex-wrap: wrap-reverse;
       .photoSide {
            margin-bottom: 80px;
       }
       .infoSide {
            width: 100%;
       }
    }
    .infoSide {
        .item {
            margin-bottom: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px dashed #282D4B;
            .title {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 10px;
            }
            .descr {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
    .photoSide {
        width: 100%;
        .photosContainer {
            margin: 0px auto;
            width: 290px;
            height: 290px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            .mainPhoto {
                img {
                    width: 290px;
                    height: 290px;
                    border-radius: 10px;
                }
            }
            .extraPhotos {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                align-items: center;
                gap: 10px;
                img {
                    width: 100%;
                    border-radius: 10px;
                    border: 1px solid #282D4B;
                }
            }
        }
    }

  
}
.flowers, .additions, .additions {
  margin-top: 40px;
  .title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
  }
  .header {
    display: grid;
    align-content: start;
    grid-template-columns: 1fr 1fr;
  }
}
.buketPrice {
  margin: 15px 0px;
  max-width: 300px;
  display: inline-flex;
  gap: 20px;
  align-items: center;
  border-radius: 8px;
  padding: 8px 15px;
  background: #3e4675;
  span {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
  }
  div {
    border-radius: 8px;
    background: #fff;
    padding: 5px 8px;
    font-weight: 500;
    color: #000;
    font-size: 16px;
  }
}
.statusButtons {
  display: flex;
  align-items: center;
  gap: 20px;
}



