.dropdown_menu {
  background: #ffff;
  border: 2px $background-color solid;
  border-radius: 6px;
  margin-top: 10px;
  .dropdown_menu_item {
    cursor: pointer;
    padding: 5px 15px;
    &:hover {
      background: rgba(144, 159, 252, 0.3);
    }
  }
}
.error_text {
  white-space: nowrap;
  color: rgb(211, 47, 47);
  font-size: 12px;
}