.status-default {
  margin: 0px auto;
  width: 130px;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 12px;
  letter-spacing: 0.5px;
  background-color: #e0e0e0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
}

.status-moderation {
  margin: 0px auto;
  width: 130px;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 12px;
  letter-spacing: 0.5px;
  background-color: #FFE895;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: rgb(51, 51, 51);
}

.status-rejected {
  margin: 0px auto;
  width: 130px;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 12px;
  letter-spacing: 0.5px;
  background-color: #ff5e52;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
}

.status-allowed {
  margin: 0px auto;
  width: 130px;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 12px;
  letter-spacing: 0.5px;
  background-color: #65e469;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
}
  